<%- include("../partials/header") %>

<div>
    <% flights.forEach(function(flight) { %>
        <div>
            <h2><strong>Flight: <%= flight.airline%>-<%=flight.flightNo%></strong></h2> <br>
            <h4>Airport: <%=flight.airport%></h4> <br>
            <h4>Departure: <%= flight.departs %></h4>

        </div>
    <% }); %>
</div>

<%- include("../partials/footer") %>