<%- include("../partials/header") %>

<br>
<div>
    <% flights.forEach(function(flight) { %>
        <div>
            <h2><strong>Flight: <%= flight.airline%>-<%=flight.flightNo%></strong></h2>
            <h4>&nbsp;&nbsp;&nbsp;&nbsp;Airport: <%=flight.airport%></h4>
            <h4>&nbsp;&nbsp;&nbsp;&nbsp;Departure: <%= flight.departs %></h4> <br>

        </div>
    <% }); %>
</div>

<%- include("../partials/footer") %>